@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply w-[95%] mx-auto py-[20px] tabs:w-[60%] pc:w-[45%];
  }
  .form-label {
    @apply block my-[10px] font-semibold;
  }
  .form-input {
    @apply animate-itemAppear block w-[100%] p-[8px] border-gray-400 border-[1px] rounded-[5px] text-green-400 placeholder:text-green-400 placeholder:italic;
  }
  .form-message {
    @apply block w-[100%] h-[150px] p-[10px] border-gray-400 border-[1px] rounded-[5px] text-[0.85rem] text-green-400 placeholder:text-green-400 placeholder:italic;
  }
  .form-button {
    @apply block w-[50%] mt-[20px] mx-auto p-[8px] text-center text-white font-bold bg-green-400 border-solid border-[1px] rounded-[5px] pc:w-[60%] pc:mx-auto tabs:w-[45%] tabs:mx-auto;
  }
  .info {
    @apply bg-green-400 text-black text-[0.75rem] p-[8px] rounded-[5px] my-[5px];
  }
  .title {
    @apply animate-slideInTitle my-[15px] text-center text-green-400 text-4xl font-bold;
  }
}


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}